@page
@model SuperEmployeeManager9000.Pages.DeleteSalaryPeriodModel

@{
    ViewData["Title"] = "Delete Salary Period";
}

<h4>Delete Chosen Salary Period</h4>
<h5>Are you sure you want to delete this period from salary history?</h5>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            Name of employee
        </dt>
        <dd>
            @{ WriteLiteral(Model.Employee.Name); }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalaryHistory.SalaryPeriodBegan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaryHistory.SalaryPeriodBegan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalaryHistory.SalaryPeriodEnded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaryHistory.SalaryPeriodEnded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalaryHistory.SalaryForThePeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaryHistory.SalaryForThePeriod)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SalaryHistory.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="/Employees">Back to the list of employees.</a>
    </form>
</div>
