@page
@model SuperEmployeeManager9000.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Employee Details";
}

<h4>Single Employee Data</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd>
            @{
                if (Model.Employee.IsCurrentlyHired)
                {
                    @Html.DisplayFor(model => model.Employee.Salary)
                }
                else
                {
                    WriteLiteral("No current salary.");
                }
            }
        </dd>
        <dt>
            Date hired
        </dt>
        <dd>
            @{WriteLiteral(String.Format("{0:dd/MM/yyyy}", Model.Employee.DateHired));}
        </dd>
        <dt>
            Phone number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt>
            Email address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt>
            Currently hired
        </dt>
        <dd>
            @{
                if (Model.Employee.IsCurrentlyHired)
                {
                    WriteLiteral("Yes");
                }
                else
                {
                    WriteLiteral("No");
                }
            }
        </dd>
    </dl>
    <hr />

    <h5><u>Salary history</u></h5>
    @{ if (Model.SalaryHistory.Any())
        {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Period event
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalaryHistory[0].SalaryForThePeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalaryHistory[0].SalaryPeriodBegan) (dd/mm/yyyy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalaryHistory[0].SalaryPeriodEnded) (dd/mm/yyyy)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SalaryHistory)
            {
                <tr>
                    <td>
                        @{ 
                            if (Model.LastSalaryReference == 0)
                            {
                                WriteLiteral("Hired");
                            }
                            else if (item.SalaryForThePeriod > Model.LastSalaryReference)
                            {
                        <span style="color:#040"> @{WriteLiteral("Promoted");}</span>
                            }
                            else
                            {
                        <span style="color:#400"> @{WriteLiteral("Demoted");}</span>
                            }
                            Model.LastSalaryReference = item.SalaryForThePeriod;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalaryForThePeriod)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalaryPeriodBegan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalaryPeriodEnded)
                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
        else
        {
            <p>There is no salary history for this employee.</p>
        }
        }
    <hr />
</div>

<div>
    <a asp-page="/EditInfo" asp-route-id="@Model.Employee.ID">Edit Information</a> |
    <a asp-page="/EditSalary" asp-route-id="@Model.Employee.ID">Edit Salary</a> |
    <a asp-page="/Employees">Back to the list of employees.</a>
</div>
